/* 
 *  Created by Hugh Lam (2024)
 *
 *  Pygmy .dts file.
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>

// Display Pins
&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 29)>
                  , <NRF_PSEL(SPIM_MOSI, 0, 28)>
                  , <NRF_PSEL(SPIM_MISO, 0, 11)>    // Not connected
	          ;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 29)>
                  , <NRF_PSEL(SPIM_MOSI, 0, 28)>
                  , <NRF_PSEL(SPIM_MISO, 0, 11)>    // Not connected
	          ;
            low-power-enable;
        };
    };

    // RGB pins
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 28)>;
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 28)>;
            low-power-enable;
        };
    };
};


/ {
    model = "pygmy";
    compatible = "pygmy";
    chosen {
        zephyr,code-partition = &code_partition;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,display = &ls0xx;
		zmk,kscan = &kscan;
		zmk,matrix_transform = &transform;
		zmk,battery = &vbatt;
		zephyr,console = &cdc_acm_uart;
        zmk,underglow = &led_strip;
    };

    leds {
        compatible = "gpio-leds";
        blue_led: led_0 {
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
        };
    };

    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 7>;
        output-ohms = <2000000>;
		full-ohms = <(2000000 + 806000)>;
    };

    ext-power {
        compatible = "zmk,ext-power-generic";
		label = "EXT_POWER";
		control-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
		init-delay-ms = <50>;
    };

#define K(n) RC(0,n)
	transform: transform {
		compatible = "zmk,matrix-transform";
		columns = <10>;
		rows = <4>;

		map = <
        K(0)  K(1)  K(2)  K(3)  K(4)                  K(21) K(20) K(19) K(18) K(17)
        K(5)  K(6)  K(7)  K(8)  K(9)                  K(26) K(25) K(24) K(23) K(22) 
        K(10) K(11) K(12) K(13) K(14)                 K(31) K(30) K(29) K(28) K(27)
                          K(15) K(16)                 K(33) K(32)
	>;
	};
    kscan: kscan {
		compatible = "zmk,kscan-gpio-direct";
		label = "KSCAN";

        input-gpios
            = <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // 1
            , <&gpio1  1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // 2
            , <&gpio0 23 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // 3
            , <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // ...
            , <&gpio0  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            , <&gpio1  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // same for left and right
            , <&gpio1  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 26 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            , <&gpio0  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1  0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0  8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            , <&gpio0  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // 16
            , <&gpio0  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // 17
            ;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&spi0 {
    compatible = "nordic,nrf-spim";
	status = "okay";

	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_default>;
	pinctrl-names = "default", "sleep";

	cs-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;

    ls0xx: ls0xx@0 {
		compatible = "sharp,ls0xx";
		spi-max-frequency = <2000000>;
		reg = <0>;
		width = <144>;
		height = <168>;
		// disp-en-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
	};
};

&spi3 {
  compatible = "nordic,nrf-spim";
  status = "okay";

  pinctrl-0 = <&spi3_default>;
  pinctrl-1 = <&spi3_sleep>;
  pinctrl-names = "default", "sleep";

  led_strip: ws2812@0 {
    compatible = "worldsemi,ws2812-spi";

    /* SPI */
    reg = <0>; /* ignored, but necessary for SPI bindings */
    spi-max-frequency = <4000000>;

    /* WS2812 */
    chain-length = <17>; /* number of LEDs */
    spi-one-frame = <0x70>;
    spi-zero-frame = <0x40>;
    color-mapping = <LED_COLOR_ID_GREEN
                          LED_COLOR_ID_RED
                          LED_COLOR_ID_BLUE>;
  };
};

&usbd {
  status = "okay";
  compatible = "nordic,nrf-usbd";
  cdc_acm_uart: cdc_acm_uart {
    compatible = "zephyr,cdc-acm-uart";
    label = "CDC_ACM_0";
  };
};

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		sd_partition: partition@0 {
			reg = <0x00000000 0x00001000>;
		};
		code_partition: partition@1000 {
			reg = <0x00001000 0x000d3000>;
		};

		storage_partition: partition@d4000 {
			reg = <0x000d4000 0x00020000>;
		};

		boot_partition: partition@f4000 {
			reg = <0x000f4000 0x0000c000>;
		};
	};
};
