# Orca board configuration

# Copyright (c) 2024 Hugh Lam
# SPDX-License-Identifier: MIT

config BOARD_ORCA
	bool "orca"
	depends on SOC_NRF52840_QIAA

config BOARD_ORCA_RIGHT
	bool "orca right"
	depends on SOC_NRF52840_QIAA


config BOARD_ORCA_LEFT
	bool "orca left"
	depends on SOC_NRF52840_QIAA
